<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="express-welcome">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <nav class="express-welcome-nav">
        <span>Express router links: </span>
        <a href="example-server-route/">example server route</a>
        <a href="!@#$%/">server 404 page</a>
      </nav>
    </div>
    <div id="vue-app"></div>
    <script src="js/bundle.js"></script>
  </body>
</html>